iso/version.txt
iso/sfdisk.cfg
iso/random
my.cfg
install_os.dd
install_os.dd_mnt
mkiso.cfg
ROOT
CONFIG
DATA
*.iso
iso/rootfs.txz
iso/config.tgz
iso/data.txz
iso/isolinux/initrd.img
iso/isolinux/kernel
iso/chk.md5
source/all_addrs
source/regexp
source/switch_screen
iso/install.cfg
iso/version.txt
